<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img id="profile-img" class="img-responsive" src="~/Content/adap/images/lifia_logo-sm.png" style="margin-top:3px" />
            </div>
            <div class="col-md-7">
                <p class="text-right"><br />
                    <span class="text-muted" style="color:#dddddd"><small>@Html.Raw(Resources.AdapAppLayout.CopyrightAJB) <br /> @Resources.AdapAppLayout.AllRightsReserved</small></span>
                </p>
            </div>
        </div>
    </div>
</footer>
