@{
    ViewBag.Title = "SIS Home Page";
}
@section featured {
}

<ol class="round">

    <li class="one">
        <h5><a href="~/Templates/Index">SIS-A / SIS-C / IRQR</a></h5>
		<br />
        &nbsp;&nbsp;&nbsp;<a href="~/Templates/Index">Forms</a><br />
		<br />
        &nbsp;&nbsp;&nbsp;<a href="~/Results/Index">Assessments</a>
    </li>
    <li class="two">
        <h5><a href="~/Search/Index">Search Screen</a></h5>
        <br/>
    </li>
    <li class="three">
        <h5><a href="~/Defws">Test Web Services</a></h5>
        <br/>
    </li>

    <li class="four">
        <h5><a href="~/DataSync">Test Venture Data Sync</a></h5>
        <br />
    </li>

    <li class="six">
        <h5><a href="~/Export/UpdateMetaData">Import Meta Data files to Venture: local test: /Views/Test directory</a></h5>
        <br/>
    </li>

</ol>
