@model Assmnts.Models.TemplateItems

<br />
<div>
    <img src="/Content/images/SIS A logo.jpg"/>
</div>
<br />
<br />
<table border="0" cellpadding="4" cellspacing="0" width="172" class="tableborder"
    style="background-color: #ffffff; text-align: left;">
    <tr class="class_prevornextscreen class_prevscreen">
        <td width="32">
            <img src="~/Content/images/leftarrow.gif" border="0" /></td>
        <td width="140">Return to Previous</td>
    </tr>
    <tr class="class_prevornextscreen class_nextscreen">
        <td>
            <img src="~/Content/images/rightarrow.gif" border="0" /></td>
        <td>Proceed to Next</td>
    </tr>
    <tr class="class_prevornextscreen class_submit">
        <td>
            <img src="~/Content/images/disk2.png" border="0" /></td>
        <td>Save</td>
    </tr>
    <tr>
        <td>
            <a href="default.aspx">
                <img src="~/Content/images/search.gif" style="border-width: 0px" alt="Search for Reports" /></a>
        </td>
        <td>Search for Report(s)</td>
    </tr>
    <tr>
        <td>
            <a href="help/index.aspx">
                <img src="~/Content/images/help.gif" style="border-width: 0px" alt="Help with the SIS System" /></a>
        </td>
        <td>Help with SIS SYstem</td>
    </tr>
    <tr>
        <td style="width: 10px">
            <a href="help/faq.aspx">
                <img src="~/Content/images/help.gif" style="border-width: 0px" alt="Frequently Asked Questions" /></a>
        </td>
        <td align="left">
            <a href="~/Content/SIS-FAQ.pdf">FAQs</a>&nbsp;
        </td>
    </tr>
@*    <tr>
        <td>
            <a href="docs/casestudy.pdf">
                <img src="~/Content/images/pdf.gif" style="border-width: 0px" alt="Download Case Study Document" /></a>
        </td>
        <td>
            <a href="docs/casestudy.pdf">Case Study</a>
        </td>
    </tr>*@
    <tr>
        <td>
            <a href="docs/sisguide.pdf">
                <img src="~/Content/images/pdf.gif" style="border-width: 0px" alt="Download Guidelines Document" /></a>
        </td>
        <td>
            <a href="docs/sisguide.pdf">Interviewing Guidelines</a>
        </td>
    </tr>
</table>