@model Assmnts.Models.TemplateSections
@{
    ViewBag.Title = "Section List";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section HeadContent {
<script>
    $(document).ready(function () {

        @*postdata = {
            "sIden":"@Model.nextScreenTitle"
        }*@

        $('#dtSections').dataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: "/Templates/DataTableSections",
                //data: postdata,
                type: "POST"
            },
            "ordering": false,
            "dom": 'lriptip'
        });
    });
</script>

 
}

<input type="button" class="return btn btn-primary" value="Return to Parts" onclick="window.location = 'Parts?formId=@Model.formId'" />
<h2>Sections for: <span class="text-primary">@Model.thisScreenTitle</span></h2>

<div class="col-sm-2">
    <input type="button" class="btn btn-success" value="Add New Section" style="width:100%" onclick="window.location='SectionEdit'" />
</div>
<br /> <br />
<table id="dtSections" class="table table-bordered table-striped datatable" cellpadding="0" cellspacing="0" border="0">
    <thead>
        <tr>
            <th>No.</th>
            <th>Section Id</th>
            <th>Identifier</th>
            <th>Title</th>
            <th>Visible</th>
            <th>Href</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
	<!-- End of Section List -->
    Message:<div id="msg"></div><br />
		