@model Assmnts.Models.ExportModel
@{

    Layout = null;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    $("#CSVExportForm").submit(function (event) {
        event.preventDefault();
        var formId = $('input[name=form]:checked', '#CSVExportForm').val();
        
            $.ajax({
                    url: "@(Url.Action("CSVOptions", "Export"))",
                    type: "GET",
                    data: {"formId": formId},
                cache: false,
                async: true,
                success: function (result) {
                    $("#exportPartialView").html(result);
                    $("#exportPartialView").show();
                },
                error: function (xhr) {
                    alert(xhr.status + " " + xhr.statusText);
                
                }
           });
    });

</script>

<div class="top">
    Export a form
</div>

<div class="content">
 <form id="CSVExportForm">
    @foreach (int? formId in Model.formIds)
    {
        if (formId != null)
        {
            <div>
                <input type="radio" name="form" id="form_@formId" value="@formId" />
                <label for="form_@formId">@Model.formNames[(int)formId]</label>

            </div>
        }
    }
    @if (Model.formIds.Count() > 1)
    {
         <div>
             <input type="radio" name="form" id="form_0" value="0" />
             <label for="form_0">All</label>
         </div>
    }
     <button type="submit" class="btn btn-default">Export CSV</button>
   </form>
 </div>